trading_strategies/poloniex_cmo_trading_strategy/app/payload/
trading_strategies/poloniex_cmo_trading_strategy/app/payload.zip

results.html

.idea/
*.iml
venv

.terraform/
terraform.tfvars
trading_strategies/poloniex_cmo_trading_strategy/backtesting/__pycache__/
trading_strategies/poloniex_cmo_trading_strategy/__pycache__/
trading_tools/__pycache__/

cloud_infrastructure/aws_terraform/terraform.tfstate
cloud_infrastructure/aws_terraform/terraform.tfstate.backup

notes.txt